@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root{
    --clr-0: #ecf2fe;
    --clr-1: #d8e7fd;
    --clr-2: #b1cefb;
    --clr-3: #89b5fa;
    --clr-4: #639cf8;
    --clr-5: #3b83f7;
    --clr-6: #0b62ef;
    --clr-7: #084cba;
    --clr-8: #063684;
    --clr-9: #041f4e;
    --clr-95: #021531;


    --blue-pri: 217 92% 1%;
    --blue-50: 218 90% 96%;
    --blue-100: 216 90% 92%;
    --blue-200: 217 90% 84%;
    --blue-300: 217 92% 76%;
    --blue-400: 217 91% 68%;
    --blue-500: 217 92% 60%;
    --blue-600: 217 91% 49%;
    --blue-700: 217 92% 38%;
    --blue-800: 217 91% 27%;
    --blue-900: 218 90% 16%;
    --blue-950: 216 92% 10%;

}  */
@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 238, 100%, 50%;

		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 238, 100%, 50%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 238, 100%, 50%;

		--destructive: 355.49 78% 56%;
		--destructive-foreground: 210 40% 98%;

		--blue-pri: 217 92% 1%;
		--blue-50: 218 90% 96%;

		--blue-100: 216 90% 92%;
		--blue-200: 217 90% 84%;

		--blue-300: 217 92% 76%;
		--blue-400: 217 91% 68%;

		--blue-500: 217 92% 60%;
		--blue-600: 217 91% 49%;

		--blue-700: 217 92% 38%;
		--blue-800: 217 91% 27%;

		--blue-900: 218 90% 16%;
		--blue-950: 216 92% 10%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--chart-1: 221.2 83.2% 53.3%;
		--chart-2: 212 95% 68%;
		--chart-3: 216 92% 60%;
		--chart-4: 210 98% 78%;
		--chart-5: 212 97% 87%;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 238, 100%, 50%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;

		--chart-1: 221.2 83.2% 53.3%;
		--chart-2: 212 95% 68%;
		--chart-3: 216 92% 60%;
		--chart-4: 210 98% 78%;
		--chart-5: 212 97% 87%;
	}
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
	border-top: 0px;
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.ql-toolbar.ql-snow {
	background-color: #f1f4f7;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	border: 1px solid #ccc;
	border-bottom: 0px;
	box-sizing: border-box;
	padding: 8px;
}
/* --clr-1: #d8e7fd;
    --clr-2: #b1cefb;
    --clr-3: #89b5fa; */

.tags-input-container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	border: 1px solid #d8e7fd;
	padding: 5px;
	border-radius: 5px;
}

.tag {
	background-color: #b1cefb;
	padding: 5px 10px;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.tag button {
	background: none;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	margin-left: 5px;
}

.tags-input-container input {
	border: none;
	outline: none;
	flex-grow: 1;
	padding: 5px;
}

@layer base {
	* {
		@apply border-border font-mont;
	}
	body {
		@apply bg-[#F1F4F7] text-foreground;
	}
}

@layer utilities {
	.custom-easing {
		transition: transform 500ms cubic-bezier(0.65, 0, 0.35, 1);
	}
	.blur {
		filter: blur(5px);
		transition: filter 0.3s ease-in;
	}

	.remove-blur {
		filter: blur(0px);
		transition: filter 0.3s ease-in;
	}
}

.marquee::after,
.marquee::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 200px;
}
.marquee::before {
	left: 0;
	top: 0;
	background: linear-gradient(to right, #f1f4f7, transparent);
	z-index: 6;
}
.marquee::after {
	right: 0;
	top: 0;
	background: linear-gradient(to right, transparent, #f1f4f7);
}

.animate__rotateIn {
	animation: animate__rotateIn 0.6s ease-in-out forwards;
}

.animate__rotateOut {
	animation: animate__rotateOut 0.6s ease-in-out forwards;
}

.logo_carousel {
	animation: carousel 15s linear infinite;
}
.logo_carousel2 {
	animation: carousel2 10s linear infinite;
}

@keyframes animate__rotateIn {
	from {
		transform: rotate(0deg); /* Start from no rotation */
	}
	to {
		transform: rotate(90deg); /* Rotate 360 degrees */
	}
}

@keyframes animate__rotateOut {
	from {
		transform: rotate(0deg); /* Start from no rotation */
	}
	to {
		transform: rotate(-90deg); /* Rotate -360 degrees (counter-clockwise) */
	}
}

@keyframes carousel {
	from {
		left: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}
@keyframes carousel2 {
	from {
		left: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}
